<div class="container">
  <card>
    <div class="header">
      <h5>{{ heading }}</h5>
      <a routerLink="{{ actionLink }}">{{ hdLink }}</a>
    </div>
    <ul class="list" *ngIf="objectArray.length > 0; else emptyMessage">
      <li class="list-item" *ngFor="let object of objectArray">
        <div class="list-item-content">
          <p class="list-item-title">{{ object.title }}</p>
          <p class="list-item-subtitle">{{ object.subtitle }}</p>
        </div>
        <a [routerLink]="object.link" class="list-item-action">{{ object.linkName }}</a>
      </li>
    </ul>
    <ng-template #emptyMessage>
      <p>{{ "card_component_no_items" | translate }}</p>
    </ng-template>
  </card>
</div>
