<app-background-art />

<!-- The search bar -->
<div class="search-box-wrapper">
    <h1>{{ "file_page_search_hd" | translate}}</h1>
    <input-with-icon inputPlaceholder="search_placeholder" (clickFunction)="searchAndLoadFiles($event)"/>
    <div class="results">{{ filesFound.length }} {{ filesFound.length == 1 ? ("file_page_files_found_sin" | translate) : ("file_page_files_found_pl" | translate) }}</div>
</div>


<!-- Displays the files that have been found based on the search -->
<div class="files-container">
  @for (fileFound of filesFound; track fileFound._id) {
        <card>
            <div class="file">
                <div class="file-headline">
                    <h3>{{ fileFound.filename }}</h3>
                    <span class="download-info">{{ fileFound.views }} {{ fileFound.views == 1 ? ("file_page_views_sin" | translate) : ("file_page_views_pl" | translate) }}</span>
                </div>
              <p>{{ fileFound.description.length >= 75 ? (fileFound.description | slice:0:75).trim() + "..." : fileFound.description }}</p>
                <span style="display: flex; justify-content: space-between">
                <app-interactions [referenceId]="fileFound._id" />

              <cta-button [routerLink]="['/files/read']" [queryParams]="{ filename: fileFound.rndFilename }">{{ "file_page_view_file" | translate }}</cta-button>
                </span>
            </div>
        </card>
  } @empty {
    <span style="display: flex; justify-content: center; align-items: center; width: 100%;">
        <span style="display: block;">
            <h2>Oh no! Looks like there are no files :(</h2>
            <p><span (click)="true" style="color: var(--primary); cursor: pointer">Upload a file</span> and be the first one to Contribute</p>
        </span>
    </span>
  }
</div>
