<head>
  <meta property="og:title" content="EducationEmpire" />
  <meta property="og:description" content="A free platform for students. Exchange files, find people with common interests and help each other to create a better future!" />
  <meta property="og:url" content="https://eduempire.de/" />
  <meta property="og:image" content="https://eduempire.de/img/landing-page.png" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="EducationEmpire" />
  <title>EduEmpire</title>
</head>

<app-language-switcher />
<app-navbar />
<div class="main-content">
  <router-outlet />
</div>
<app-footer />

