.courses-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-block: 1rem;
  width: 25vw;
  height: 25rem;
}

.course-cta {
  flex: 1;
  text-align: center;
  margin-bottom: 3rem;
}

.course-headline {
  margin-bottom: 2rem;
}

h3 {
  font-size: 3rem;
}

.members-info {
  color: var(--faded-gray);
  font-size: 0.75rem;
}

.course-description {
  flex: 2;
}

.course-description h4 {
  font-size: 1rem;
  font-weight: 800;
}

.course-description p {
  font-size: 1rem;
  line-height: 1.5;
}
