<app-background-art />

<div class="courses-wrapper">
  @for (course of courses; track course._id) {
    <card>
      <div class="card-content">
        <div class="course-cta">
          <div class="course-headline">
            <h3>{{ course.name }}</h3>
            <span class="members-info">{{course.members.length}} {{ "course_members" | translate }}</span>
          </div>

          <!-- TODO check if user already in course -->
        </div>
        <div class="course-description">
          <h4>Description</h4>
          <p>{{ course.description.length >= 250 ? (course.description | slice:0:250) + "..." : course.description }}</p>
        </div>
      </div>
      <cta-button raised="false" type="wide" routerLink="/course/{{ course._id }}">{{ "course_join" | translate }}</cta-button>

    </card>
  }
</div>
