<section class="error-section">
  <div class="error-container">
    <div class="error-content">
      <h1 class="error-code">{{ "contact_page_headline" | translate }}</h1>
      <p class="error-title">{{ "contact_page_title" | translate }}</p>
      <p class="error-description">{{ "contact_page_description" | translate }}</p>
      <a href="mailto:contact@eduempire.de" class="error-button">{{ "contact_page_send_mail" | translate }}</a>
      <br><br>
      <a href="https://x.com/eduempire24" class="error-button" target="_blank">{{ "contact_page_send_dm" | translate }}</a>
    </div>
  </div>
</section>
