<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<app-background-art/>

<div class="form-card-container">
  <div class="card-container">
    <card>
      <div class="form-container">
        <h1>
          {{ "login_page_headline" | translate }}
        </h1>
        <form (ngSubmit)="onSubmit()">
          <alert-box
            [modalHeader]="'Error'"
            [modalText]="errorMessage"
            [confirmButtonText]="'Got it!'">
          </alert-box>

          <div class="inputs-container">
            <div class="form-element">
              <label for="username">{{ "login_page_username_label" | translate }}</label>
              <input autocomplete="username" type="text" name="username" id="username" placeholder="{{ 'login_page_username_placeholder' | translate }}"
                     [(ngModel)]="username" required>
            </div>
            <div class="form-element">
              <label for="password">{{ 'login_page_password_label' | translate }}</label>
              <input autocomplete="current-password" type="password" name="password" id="password" placeholder="••••••••"
                     [(ngModel)]="password" required>
            </div>
          </div>

          <div class="secondary-actions-container">
            <div class="form-checkbox">
              <input id="remember" aria-describedby="remember" type="checkbox" required="">
              <label for="remember">{{ 'login_page_remember_me' | translate }}</label>
            </div>
            <a href="#">{{ 'login_page_forgot_password' | translate }}</a>
          </div>

          <cta-button type="wide">{{ 'login_page_sign_in_cta' | translate }}</cta-button>
          <p>
            {{ 'login_page_no_account' | translate }} <a routerLink="/signup">{{ 'login_page_sign_up' | translate }}</a>
          </p>
        </form>
      </div>
    </card>
  </div>
</div>
