<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<app-background-art/>

<div class="form-card-container">
  <div class="card-container">
    <card>
      <div class="form-container">
        <h1>
          Sign in to your account
        </h1>
        <form (ngSubmit)="onSubmit()">
          <div class="inputs-container">
            <div class="form-element">
              <label for="username">Your username</label>
              <input autocomplete="username" type="text" name="username" id="username" placeholder="johndoe"
                     [(ngModel)]="username" required>
            </div>
            <div class="form-element">
              <label for="password">Password</label>
              <input autocomplete="current-password" type="password" name="password" id="password" placeholder="••••••••"
                     [(ngModel)]="password" required>
            </div>
          </div>

          <div class="secondary-actions-container">
            <div class="form-checkbox">
              <input id="remember" aria-describedby="remember" type="checkbox" required="">
              <label for="remember">Remember me</label>
            </div>
            <a href="#">Forgot password?</a>
          </div>

          <cta-button type="wide">Sign In</cta-button>
          <p>
            Don’t have an account yet? <a routerLink="/signup">Sign up</a>
          </p>
        </form>
      </div>
    </card>
  </div>
</div>
