.upload-area {
  height: 5rem;
  width: calc(100% - 24px);
  border: 2px dashed #ddd;
  border-radius: 8px;
  margin-bottom: .75rem;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  transition-duration: .3s;
}

.upload-area.dragover {
  border-color: var(--accent-color-dimmed);
}

.upload-icon {
  width: 24px;
  height: 24px;
  color: var(--accent-color-dimmed);
}

.upload-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upload-area p {
  color: gray;
  margin: 0;
}

.upload-area label {
  color: var(--accent-color-dimmed);
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
}

.upload-area input[type=file] {
  display: none;
}

.file-details {
  color: gray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.stepper-timeline {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-block: 1rem;
  color: gray;
}

.active {
  color: var(--accent-color-dimmed);
}

.step {
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.circle .number {
  position: absolute;
  transform: translateY(2px);
  left: 42%;
  font-weight: bold;
  color: white;
}


.current {
  background-color: var(--accent-color-dimmed);
}

/* this is just awkward */
.step:after {
  content: '';
  position: relative;
  top: 50%;
  left: 100%;
  width: 100%;
  max-width: 50px;
  height: 2px;
  background-color: #ccc;
  transform: translateY(-4000%);
  z-index: 1;
}

.step:nth-child(2):after {
  content: '';
  position: relative;
  top: 50%;
  left: calc(100% - 20px);
  width: 100%;
  max-width: 50px;
  height: 2px;
  background-color: #ccc;
  transform: translateY(-4000%);
  z-index: 1;
}

.step:last-child:after {
  display: none;
}

.delete-file {
  margin-inline-start: 10px;
}

.delete-file-icon {
  fill: gray;
  transition-duration: .3s;
}

.delete-file-icon:hover {
  fill: red;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  width: 100%;
}

.details-container label {
  color: #333;
  margin-block-end: -.5rem;
}

.details-container textarea {
  width: calc(100% - 1rem);
  height: 80px;
  resize: none;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.details-container textarea:focus {
  border-color: var(--accent-color-dimmed);
  outline: none;
}

.details-container select {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s;
  appearance: none;
}

.details-container select:focus {
  border-color: var(--accent-color-dimmed);
  outline: none;
}

.details-container select option {
  padding: 0.5rem;
}

.details-container select:last-child {
  margin-block-end: 1rem;
}

.file-success-hd {
  font-size: 1.3rem;
}

.file-link {
  color: var(--accent-color-dimmed);
  cursor: pointer;
  margin-block-end: 1rem;
}

/* Modal design for file upload */
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.modal-hd {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: left;
}

.modal-txt {
  margin-bottom: 20px;
  text-align: left;
}

.modal-btns {
  display: flex;
  justify-content: end;
  gap: .75rem;
  align-items: center;
  width: 100%;
}

.modal-deny-btn {
  background-color: transparent;
  width: fit-content;
  padding-block: calc(.5rem - 1px);
  padding-inline: 1rem;
  color: var(--primary-color);
  cursor: pointer;
  transition-duration: .2s;
}

.modal-confirm-btn {
  background-color: var(--accent-color);
  box-shadow: var(--shadow-color) 0px 4px 12px;
  width: fit-content;
  padding-block: calc(.5rem - 1px);
  padding-inline: 1rem;
  border: 1px solid var(--accent-color);
  border-radius: .5rem;
  color: var(--text-primary-color);
  cursor: pointer;
  transition-duration: .2s;
  font-weight: 600;
  font-size: .875rem;
}

.modal-confirm-btn:hover {
  background-color: var(--complementary-color);
}

.spacer {
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
  .modal-container {
    background: rgba(175, 175, 175, .1);
  }

  .modal {
    background: var(--primary-color);
    color: white;
  }

  .modal-deny-btn {
    color: white;
  }
}

.inactive {
  background-color: #c3c3c3;
  border: 1px solid #c3c3c3;
  color: #303030;
  cursor: default;
  box-shadow: none;
}

.inactive:hover {
  background-color: #c3c3c3;
}
