<div class="modal-container" *ngIf="modalService.modalVisibility$ | async">
  <div class="modal">
    <div class="modal-hd">Upload</div>
    <div class="modal-txt">It's time to share your knowledge!</div>

    <!-- Start Stepper-Timeline -->
    <div class="stepper-timeline">
      <div class="step" (click)="currentSite=1">
        <div class="circle" [class.current]="currentSite==1"><div class="number">1</div></div>
        <p [class.active]="currentSite==1">Add File</p>
      </div>
      <div class="step" (click)="hasFile ? currentSite=2 : undefined">
        <div class="circle" [class.current]="currentSite==2"><div class="number">2</div></div>
        <p [class.active]="currentSite==2">Add Details</p>
      </div>
      <div class="step" (click)="hasFile && uploaded ? currentSite=3 : undefined">
        <div class="circle" [class.current]="currentSite==3"><div class="number">3</div></div>
        <p [class.active]="currentSite==3">Share</p>
      </div>
    </div>
    <!-- End Stepper-Timeline -->


    <!-- Start Upload-Area -->
    <div #dragDropField
         (dragover)="onDragOver($event)"
         (dragleave)="onDragLeave($event)"
         (drop)="onDrop($event)"
         [class.dragging]="isDragging"
         class="upload-area"
         [class.dragover]="isDragging"
         *ngIf="currentSite==1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="upload-icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5"></path>
      </svg>
      <div class="upload-text">
        <p>Drag and Drop a file to upload or</p>
        <label for="file-input">Browse Files</label>
      </div>
      <input type="file" id="file-input" (input)="onFileSelected()">
    </div>
    <!-- End Upload-Area -->

    <!-- Start Uploaded File Details -->
    <div class="file-details" id="file-details" *ngIf="currentSite==1">
      <p *ngIf="hasFile" class="filename" id="filename">{{ filename }}</p>
      <p *ngIf="hasFile" class="filesize">{{ filesize }}</p>
      <button class="delete-file" *ngIf="hasFile" aria-label="Delete file" (click)="deleteFile()">
        <svg class="delete-file-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" width="12px" height="12px" viewBox="0 0 408.483 408.483" xml:space="preserve">
            <g>
                <g>
                    <path d="M87.748,388.784c0.461,11.01,9.521,19.699,20.539,19.699h191.911c11.018,0,20.078-8.689,20.539-19.699l13.705-289.316    H74.043L87.748,388.784z M247.655,171.329c0-4.61,3.738-8.349,8.35-8.349h13.355c4.609,0,8.35,3.738,8.35,8.349v165.293    c0,4.611-3.738,8.349-8.35,8.349h-13.355c-4.61,0-8.35-3.736-8.35-8.349V171.329z M189.216,171.329    c0-4.61,3.738-8.349,8.349-8.349h13.355c4.609,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.737,8.349-8.349,8.349h-13.355    c-4.61,0-8.349-3.736-8.349-8.349V171.329L189.216,171.329z M130.775,171.329c0-4.61,3.738-8.349,8.349-8.349h13.356    c4.61,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.738,8.349-8.349,8.349h-13.356c-4.61,0-8.349-3.736-8.349-8.349V171.329z"/>
                  <path d="M343.567,21.043h-88.535V4.305c0-2.377-1.927-4.305-4.305-4.305h-92.971c-2.377,0-4.304,1.928-4.304,4.305v16.737H64.916    c-7.125,0-12.9,5.776-12.9,12.901V74.47h304.451V33.944C356.467,26.819,350.692,21.043,343.567,21.043z"/>
                </g>
            </g>
        </svg>
      </button>
    </div>
    <!-- End Uploaded File Details -->


    <!-- Start Details -->
    <div class="details-container" *ngIf="currentSite==2">
      <label for="file-description">Description</label>
      <textarea maxlength="300" placeholder="Type something..." id="file-description"></textarea>

      <label for="file-visibility">Visibility</label>
      <select id="file-visibility">
        <option value="0">Public</option>
        <option value="1">Private</option>
        <option value="2">Course</option>
      </select>

      <label for="file-course">Course</label>
      <select id="file-course">
        <option>&#64;ToDo: implement</option>
      </select>
    </div>
    <!-- End Details -->

    <!-- Start Confirmation -->
    <div *ngIf="currentSite==3">
      <h2 class="file-success-hd">Your file was uploaded successfully</h2>
      <p (click)="copyFileUrl()" class="file-link" id="file-link">Click here to copy link</p>
    </div>
    <!-- End Confirmation -->


    <div class="modal-btns">
      <div *ngIf="canDeny()" class="modal-deny-btn" (click)="onDeny()">{{ getDenyButtonText() }}</div>
      <div class="modal-confirm-btn" (click)="onConfirm()" [class.inactive]="!canConfirm()">{{ getConfirmButtonText() }}</div>
    </div>
  </div>
</div>

