.card {
  background: var(--background);
  box-shadow: 0 0 2px 0 var(--shadow-color);
  padding: var(--padding);
  border-radius: var(--border-radius-sm);
  width: 100%;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .card {
    background: var(--card-gradient);
  }
}
