<div class="container">
  <div class="course-info-container course-column">
    <h1>{{ course.name }}</h1>

    @if (course._id) {
      <join-course-btn [course]="course" (refreshCourses)="onJoinLeave($event)"/>
    }

    <div class="course-description">
      <h3>{{ "course_description" | translate }}</h3>
      <p>{{ course.description }}</p>
    </div>
  </div>
  <div class="course-activity-container course-column">
    <add-comment-bar [referenceId]="courseId" (afterFinished)="onCommentSent($event)" />

    <div class="activities">
      @for (comment of comments; track comment._id) {
        <app-post-card [comment]="comment" referenceId="{{ comment._id }}" />
      } @empty {
        <p>No comments found</p>
      }
    </div>
  </div>
  <div class="course-members-container course-column">
    <h2>{{ "course_members" | translate }}</h2>
    <ul>
      @for (member of course.members; track member) {
        <li>{{ member.username }}</li>
      }
    </ul>
  </div>
</div>
