.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

h1 {
  font-size: 4rem;
  overflow-wrap: break-word;
  margin-bottom: 2rem;
  text-align: center;
}

.course-column {
  flex: 3;
  width: 0;
}

.course-description {
  margin-top: 3rem;
  font-size: 1.25rem;
}

.course-description p {
  font-size: 0.9rem;
}

.course-activity-container {
  flex: 8;
}

.course-members-container ul li {
  list-style: none;
  margin-top: 1rem;
}

.activities {
  width: 90%;
  margin: 5rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (max-width: 1350px) {
  .course-members-container {
    flex: 1;
  }
}

@media screen and (max-width: 1000px) {
  .course-members-container {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .container {
    flex-direction: column;
  }

  .course-column {
    width: 100%;
  }

  .activities {
    width: 100%;
  }
}
