nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background);
  padding: 1.5rem 12vw;
  box-shadow: 0 0 2px var(--shadow-color);
  z-index: 10;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

h1 {
  font-weight: 600;
  cursor: pointer;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

li a.active {
  color: var(--primary);
}

.pointer {
  cursor: pointer;
}

span path, span circle {
  stroke: var(--foreground);
}

.icon-container {
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
}

.hamburger-menu {
  display: none;
}

.close-sidebar {
  display: none;
}

@media only screen and (max-width: 950px) {
  nav ul {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: var(--background);
    font-size: 1.5rem;
  }

  nav ul.visible {
    transform: translateX(0);
  }

  .user-actions {
    display: none;
    /* TODO put at bottom in sidebar */
  }

  .hamburger-menu {
    display: block;
  }

  .close-sidebar {
    display: block;
    position: absolute;
    top: 3rem;
    right: 3rem;
  }
}
