<nav>
  <a routerLink="">
    <span>EducationEmpire</span>
  </a>

  <div>
    <ul>
      <li>
        <a routerLink="">{{ "nav_link_home" | translate }}</a>
      </li>
      <li>
        <a routerLink="courses">{{ "nav_link_course" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "nav_link_services" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "nav_link_contact" | translate }}</a>
      </li>
    </ul>
  </div>

  <div>
    @if (!loggedIn) {
      <div>
        <button routerLink="/signin">{{ "sign_in_button" | translate }}</button>
        <button>{{ "sign_up_button" | translate }}</button>
      </div>
    } @else {
      <p>Hallo, User</p>
    }
  </div>
</nav>


