<nav>
  <h1 routerLink="" (click)="setLinkActive(0)">EducationEmpire</h1>

  <div>
    <ul>
      @for (link of links; track link.name) {
        <li><a [ngClass]="{'active': activeLink === $index}" [routerLink]="link.path" (click)="setLinkActive($index)">{{ link.name | translate }}</a></li>
      }
    </ul>
  </div>

  <div>
    <div class="user-actions">

    @if (!isLoggedIn()) {
        <a routerLink="/signin" (click)="setLinkActive(-1)">{{ "sign_in_button" | translate }}</a>
        <cta-button routerLink="/signup" (click)="setLinkActive(-1)">{{ "sign_up_button" | translate }}</cta-button>
    } @else {
      <p>Hallo, User</p>
      <!-- @ToDo:   redesign ugly ass button -->
      <cta-button (click)="toggleUploadModal()">ToDo: SVG Dateiupload</cta-button>
    }
    </div>
  </div>
</nav>

@if (isLoggedIn()) {
  <app-file-upload></app-file-upload>
}

