<div>
  <app-background-art />

  <div class="jumbotron-container">
    <h1>{{ "landing_page_jumbotron_headline" | translate }}</h1>
    <p>{{ "landing_page_jumbotron_paragraph" | translate }}</p>

    <div class="jumbotron-buttons">
      <cta-button size="square" routerLink="/signin">Get started</cta-button>
      <a>Learn more <span aria-hidden="true">→</span></a>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <div class="content">
    <h1>{{ "landing_page_features_hd" | translate }}</h1>
    <div class="inline">
      <div class="block">
        <img src="./img/course-page.png" alt="EduEmpire course page">
        <br>
        <img src="./img/file-upload.png" alt="EduEmpire file upload">
      </div>
      <div class="block">
        <h3>{{ "landing_page_collab_working_hd" | translate }}</h3>
        <p>
          {{ "landing_page_collab_working_p0" | translate }}
        </p>
        <p>
          {{ "landing_page_collab_working_p1" | translate }}
        </p>
        <p>
          {{ "landing_page_collab_working_p2" | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="content">
    <h1>{{ "landing_page_security_hd" | translate }}</h1>
    <div class="inline">
      <div class="block">
        <h3>{{ "landing_page_privacy_hd" | translate }}</h3>
        <p>{{ "landing_page_privacy_p" | translate }}</p>
        <br>
        <h3>{{ "landing_page_moderation_hd" | translate }}</h3>
        <p>{{ "landing_page_moderation_p" | translate }}</p>
      </div>
        <div class="block">
        <img src="./img/private-file.png" alt="EduEmpire private file upload">
        <br>
        <img src="./img/admin-dashboard.png" alt="EduEmpire file upload">
      </div>
    </div>
    <div class="block try-it">
      <h3>{{ "landing_page_couldnt_decide_hd" | translate }}</h3>
      <p>{{ "landing_page_couldnt_decide_p" | translate }}</p>
      <a routerLink="signup">{{ "landing_page_couldnt_decide_link" | translate }}</a>
    </div>
  </div>
</div>



<!-- example implementation of modal -->
<!--
<alert-box
  [modalHeader]="'Welcome'"
  [modalText]="'This is just a test'"
  [confirmButtonText]="'Ok'"
  [denyButtonText]="'Cancel'">
</alert-box>

<button (click)="closeModal()" style="width: 20vw; height: 5vh; position: absolute; transform: translateY(200px); z-index: 9999; background: red;" >Close Modal Test</button>
<button (click)="openModal()" style="width: 20vw; height: 5vh; position: absolute; transform: translateY(calc(200px + 5vh)); z-index: 9999; background: green;" >Open Modal Test</button>
<button (click)="toggleModal()" style="width: 20vw; height: 5vh; position: absolute; transform: translateY(calc(200px + 10vh)); z-index: 9999; background: yellow;" >Toggle Modal Test</button>
-->

