<div>
  <app-background-art />

  <div class="jumbotron-container">
    <h1>{{ "landing_page_jumbotron_headline" | translate }}</h1>
    <p>{{ "landing_page_jumbotron_paragraph" | translate }}</p>

    <div class="jumbotron-buttons">
      <cta-button size="square" routerLink="/signin">Get started</cta-button>
      <a>Learn more <span aria-hidden="true">→</span></a>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <div class="content">
    <h1>{{ "landing_page_features_hd" | translate }}</h1>
    <div class="inline">
      <div class="block">
        <img src="./img/course-page.png" alt="EduEmpire course page">
        <br>
        <img src="./img/file-upload.png" alt="EduEmpire file upload">
      </div>
      <div class="block">
        <h3>{{ "landing_page_collab_working_hd" | translate }}</h3>
        <p>
          {{ "landing_page_collab_working_p0" | translate }}
        </p>
        <p>
          {{ "landing_page_collab_working_p1" | translate }}
        </p>
        <p>
          {{ "landing_page_collab_working_p2" | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="content">
    <h1>Security</h1>
    <div class="inline">
      <div class="block">
        <h3>Privacy</h3>
        <p>
          Sharing is great, but there are times when certain things should be kept private. That’s why we offer you the ability to securely upload your files, ensuring they remain just between you and whoever you choose to share them with. Simply select the right option, and rest easy knowing no one else will be able to access your personal information.        <br>
        <h3>Moderation</h3>
        <p>
          Hate online is a significant problem, which is why we take it seriously. Every comment section and file upload on our platform is carefully monitored by our dedicated team of moderators. They actively work around the clock to make sure that safety and respect are upheld, ensuring a positive experience for everyone using our platform.      </div>
      <div class="block">
        <img src="./img/private-file.png" alt="EduEmpire private file upload">
        <br>
        <img src="./img/admin-dashboard.png" alt="EduEmpire file upload">
      </div>
    </div>
    <div class="block try-it">
      <h3>Couldn't decide yet?</h3>
      <p>You can try our service for free!</p>
      <a routerLink="signup">Get started!</a>
    </div>
  </div>
</div>



<!-- example implementation of modal -->
<!--
<alert-box
  [modalHeader]="'Welcome'"
  [modalText]="'This is just a test'"
  [confirmButtonText]="'Ok'"
  [denyButtonText]="'Cancel'">
</alert-box>

<button (click)="closeModal()" style="width: 20vw; height: 5vh; position: absolute; transform: translateY(200px); z-index: 9999; background: red;" >Close Modal Test</button>
<button (click)="openModal()" style="width: 20vw; height: 5vh; position: absolute; transform: translateY(calc(200px + 5vh)); z-index: 9999; background: green;" >Open Modal Test</button>
<button (click)="toggleModal()" style="width: 20vw; height: 5vh; position: absolute; transform: translateY(calc(200px + 10vh)); z-index: 9999; background: yellow;" >Toggle Modal Test</button>
-->

