<div>
  <app-background-art />

  <div class="jumbotron-container">
    <h1>{{ "landing_page_jumbotron_headline" | translate }}</h1>
    <p>{{ "landing_page_jumbotron_paragraph" | translate }}</p>

    <div class="jumbotron-buttons">
      <cta-button type="square" routerLink="/signin">Get started</cta-button>
      <a>Learn more <span aria-hidden="true">→</span></a>
    </div>
  </div>
</div>

<!-- example implementation of modal
<alert-box
  *ngIf="modalShown"
  [modalHeader]="'Welcome'"
  [modalText]="'Hi! Is this your first time?'"
  [confirmButtonText]="'Yes'"
  [denyButtonText]="'No'"
  [onConfirmCallback]="handleConfirm"
  [onCancelCallback]="handleDeny">
</alert-box>
  -->
