<div class="post">
  <div class="post-header">
    <div class="title-container">
      <h3>{{ (comment.comment | slice:0:32).trim() | titlecase }}{{ (comment.comment.length > 32 ? "..." : "") }}</h3>
      <span class="tagline">by <span class="author">{{ comment.author.username }}</span></span>
    </div>
    <div class="post-timestamp">{{ timestamp }}</div>
  </div>

  <p>
    {{ comment.comment }}
  </p>

  <app-interactions [referenceId]="comment._id" />

  <add-comment-bar [referenceId]="comment._id" (afterFinished)="onCommentSent($event)" />

  @if (comment.replies.length > 0) {
    <a (click)="loadReplies = !loadReplies" class="toggle-replies">{{ "toggle_replies" | translate }} ({{ comment.replies.length }})</a>
  }

  @if (loadReplies) {
    <div class="replies-container">
      @for (reply of comment.replies; track reply._id) {
        <comment [comment]="reply"></comment>
      }
    </div>
  }
</div>
