.language-switcher {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: var(--primary);
  display: flex;
  gap: 5px;
  z-index: 10;
}

.language-switcher button {
  padding: 0.5rem 1rem;
  border: none;
  background: var(--primary);
}

.language-switcher button:hover {
  background: var(--dark-primary);
  color: var(--light);
}
