.language-switcher {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: var(--accent-color);
  padding: 10px 20px;
  display: flex;
  gap: 5px;
}

.language-switcher button {
  padding: 4px 10px;
}

.language-switcher button:hover {
  background: var(--complementary-color);
  color: var(--text-primary-color);
}
