.language-switcher-2 {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 5px;
  z-index: 10;
}


select {
  height: 2rem;
  padding: 5px 10px;
  appearance: none;
  background: var(--background);
  border: 2px solid var(--middle-gray);
  border-radius: 5px;
  transition: .3s;
  outline: none;
}

select:hover {
  border: 2px solid var(--dark-primary);
}

select:focus {
  border: 2px solid var(--primary);
}

option {
  appearance: none;
  color: black;
}

