.background-art-container {
  filter: blur(100px);
  position: absolute;
  top: -10rem;
}

.background-art {
  width: 30rem;
  height: 30rem;
  left: calc(50% - 11rem);
  background: var(--background-art-gradient);
  clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);
  position: relative;
  overflow: hidden;
  opacity: .3;
  animation: rotateBackground 30s infinite ease-in-out;
}

@keyframes rotateBackground {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  .background-art {
    opacity: .1;
  }
}
