<div class="admin-wrapper">
  <div class="admin-column">
    <h2>Manage Users ({{ users.length }})</h2>
    <ul>
      @for (user of users; track user._id) {
        <li>
          <div class="data-row">
            <span class="data-name">{{user.username}}</span>
            <span class="data-secondary">{{user.email}}</span>
            <app-role-selector [user]="user"/>

            <select>
              <option>Active</option>
              <option>Inactive</option>
            </select>
          </div>
        </li>
      }
    </ul>
  </div>
  <div class="admin-column">
    <h2>Manage Courses ({{courses.length}})</h2>
    <ul>
      @for (course of courses; track course._id) {
        <li>
          <div class="data-row">
            <span class="data-name"><a routerLink="/course/{{course._id}}">{{course.name}}</a></span>
            <span class="data-secondary">{{ course.members.length }} Members</span>
          </div>
        </li>
      }
    </ul>
  </div>
</div>
