.files-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.side-panel-card-container {
  z-index: 999;
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.filter-container {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  gap: 1rem;
}

.filter-container h2 {
  margin-bottom: 1rem;
}

label {
  margin-block-start: 1rem;
  margin-block-end: .5rem;
}

input {
  width: 100%;
  padding: .5rem;
  border: 1px solid gray;
  border-radius: var(--border-radius-xs);
  background: var(--card-gradient);
  transition: .3s;
}

input:focus {
  outline: none;
  border: 1px solid var(--primary);
}

textarea {
  width: 100%;
  height: 10%;
  padding: .5rem;
  border: 1px solid gray;
  border-radius: var(--border-radius-xs);
  background: var(--card-gradient);
  transition: .3s;
  resize: none;
}

textarea:focus {
  outline: none;
  border: 1px solid var(--primary);
}

.num-container {
  display: flex;
  gap: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tools {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--background);
  border: 1px solid gray;
  border-radius: var(--border-radius);
  width: 50%;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  justify-content: space-evenly;
}

.tool-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tool-item button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tool-item img {
  width: 32px;
  height: 32px;
  margin-bottom: 0.5rem;
}

.tool-item span {
  font-size: 0.9rem;
  color: #333;
}

.tool-item button:hover span {
  color: var(--primary);
}

.bookmark-button {
  margin-block-start: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--foreground);
  border: none;
  border-radius: var(--border-radius-xs);
  padding-block: 20px;
  margin-top: auto;
  cursor: pointer;
}

.bookmark-button .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.pdf-container {
  display: flex;
  flex: 4;
  height: calc(100vh - 110px);
  z-index: 999;
  padding: 0;
  align-items: center;
}

.pdf-iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.edit-mode-btn {
  position: fixed;
  top: calc(100vh - 100px);
  left: calc(100vw - 100px);
  border: 1px solid var(--gray) !important;
  border-radius: var(--border-radius-xs);
  box-shadow: var(--shadow-xs);
  padding: 10px;
}

.edit-mode-btn path {
  fill: none;
  stroke: var(--foreground);
  stroke-width: 2px;
}

.files-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.file {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block: .25rem;
  width: 20vw;
  height: 10rem;
  min-width: 300px;
}

.file h3 {
  font-size: 1.5rem;
  overflow: hidden;
}

.download-info {
  color: var(--faded-gray);
  font-size: 0.75rem;
}

.oic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-container {
  background-color: var(--background);
  border-radius: var(--border-radius-xs);
  box-shadow: 0 0 2px var(--shadow-color);
  margin-bottom: 5rem;
}

.image-container .title {
  display: flex;
  padding-inline: 1rem;
  padding-block: .2rem;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.image-container .bottom {
  display: flex;
  padding-inline: 1rem;
  margin-block-start: -5px;
  padding-block-start: .3rem;
  padding-block-end: .3rem;
  justify-content: space-between;
  border-top: 1px solid gray;
}

.image-container img {
  width: 100%;
  max-width: 50vw;
}

.video-container {
  width: 100%;
}

.video-container video {
  width: 100%;
}

/** Interaction stuff **/
.interactions {
  width: fit-content;
  display: flex;
  gap: 1.5rem;
  font-size: 0.75rem;
}

.interaction-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.interaction {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  color: var(--light);
}

.interaction svg {
  width: 1rem;
  height: 1rem;
}

.interaction.positive {
  background: var(--primary);
}

.rating-amount.positive {
  color: var(--primary);
}

.rating-amount.negative {
  color: var(--yellow);
}

.interaction.negative {
  background: var(--yellow);
}

button svg {
  width: 25px;
}


.canvas-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}

.canvas-wrapper img {
  z-index: 1;
  pointer-events: none;
  width: 100%;
  display: block;
}

.overlay-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.close-btn {
  background: none;
  border: none;
  font-size: .8em;
  cursor: pointer;
  color: var(--middle-gray);
  transition: color .3s;
}

.close-btn:hover {
  color: var(--middle-light-gray);
}

app-interactions {
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.description {
  max-width: 500px;
  overflow: hidden;
}
