
<app-background-art/>

<div class="files-page">

  <!-- Currently using this as spacer -->
  <div class="side-panel-card-container" *ngIf="!readingMode"></div>

  <div class="pdf-container" id="pdf-container">
    <!-- Images wont be rendered in object -->
      @if (fileType && fileTypes.IMAGES.includes(fileType)) {
        <div class="oic">
          <div class="image-container" *ngIf="file">
              <div class="title">
                  <h3>{{ fileMetaData.filename }}</h3>
                  <span>X</span>
              </div>
              <div class="canvas-wrapper">
                <canvas
                  #overlayCanvas
                  class="overlay-canvas"
                  (mousedown)="onCanvasMouseDown($event)"
                  (mousemove)="onCanvasMouseMove($event)"
                  (mouseup)="onDrawStop()"
                  (mouseleave)="onDrawStop()">
                </canvas>
                <img [src]="file" alt="Uploaded Image" draggable="false">
              </div>
              <span class="bottom">
                  <div class="interactions">
                      <div class="interaction-wrapper">
                          <div class="interaction positive">
                              <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                  <path fill-rule="evenodd" d="M15.03 9.684h3.965c.322 0 .64.08.925.232.286.153.532.374.717.645a2.109 2.109 0 0 1 .242 1.883l-2.36 7.201c-.288.814-.48 1.355-1.884 1.355-2.072 0-4.276-.677-6.157-1.256-.472-.145-.924-.284-1.348-.404h-.115V9.478a25.485 25.485 0 0 0 4.238-5.514 1.8 1.8 0 0 1 .901-.83 1.74 1.74 0 0 1 1.21-.048c.396.13.736.397.96.757.225.36.32.788.269 1.211l-1.562 4.63ZM4.177 10H7v8a2 2 0 1 1-4 0v-6.823C3 10.527 3.527 10 4.176 10Z" clip-rule="evenodd"/>
                              </svg>
                          </div>
                          <span class="rating-amount positive">5</span>
                      </div>
                      <div class="interaction-wrapper">
                          <div class="interaction negative">
                              <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                  <path fill-rule="evenodd" d="M8.97 14.316H5.004c-.322 0-.64-.08-.925-.232a2.022 2.022 0 0 1-.717-.645 2.108 2.108 0 0 1-.242-1.883l2.36-7.201C5.769 3.54 5.96 3 7.365 3c2.072 0 4.276.678 6.156 1.256.473.145.925.284 1.35.404h.114v9.862a25.485 25.485 0 0 0-4.238 5.514c-.197.376-.516.67-.901.83a1.74 1.74 0 0 1-1.21.048 1.79 1.79 0 0 1-.96-.757 1.867 1.867 0 0 1-.269-1.211l1.562-4.63ZM19.822 14H17V6a2 2 0 1 1 4 0v6.823c0 .65-.527 1.177-1.177 1.177Z" clip-rule="evenodd"/>
                              </svg>
                          </div>
                          <span class="rating-amount negative">0</span>
                      </div>
                  </div>
              </span>
          </div>
        </div>
      } @else if (fileType && fileTypes.DOCUMENTS.includes(fileType)) {
          <iframe *ngIf="file" [src]="file" class="pdf-iframe"></iframe>
      } @else if (fileType && fileTypes.VIDEOS.includes(fileType)) {
          <div class="video-container">
            <video [src]="file"></video>
          </div>
      }
      @else {
          <span *ngIf="file">
              <h2>Oh no!</h2>
              <p>The requested resource cannot be rendered</p>
          </span>
      }

    <span *ngIf="!file">
      <h2>Oh no!</h2>
      <p>The file you're looking for does not exist!</p>
    </span>
  </div>

  <!-- sidebar right (comments etc.) -->
  <div class="side-panel-card-container" *ngIf="file && !readingMode">
    <card>
      <div class="filter-container">
        <h2>Comments</h2>
      </div>
    </card>
  </div>
</div>

<div class="tools" *ngIf="file && !readingMode">
  <div class="tool-item" title="Draw Markings">
    <button (click)="toggleDrawMode()">
      <svg width="40" height="40" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg"></svg>
      <span>Draw</span>
    </button>
  </div>
  <div class="tool-item" title="Erase Markings">
    <button>
      <svg width="40" height="40" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 5, 35 35, M35 5, 5 35" stroke="black" stroke-width="2" fill="none"></path>
      </svg>
      <span>Clear</span>
    </button>
  </div>
  <div class="tool-item" title="Save changes">
    <button (click)="saveDrawing()">
      <svg width="40" height="40" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
        <rect x="5" y="5" width="40" height="40" stroke="black" stroke-width="2" fill="none"/>
        <rect x="10" y="10" width="30" height="10" stroke="black" stroke-width="2" fill="none"/>
        <circle cx="25" cy="35" r="5" stroke="black" stroke-width="2" fill="none"/>
      </svg>
      <span>Save</span>
    </button>
  </div>
  <div class="tool-item" title="Add Comment">
    <button>
        <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"></svg>
        <span>Comment</span>
    </button>
  </div>
  <div class="tool-item" title="Reading Mode">
    <button (click)="toggleReadingMode()">
        <svg width="40" height="40" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
            <circle cx="13" cy="25" r="7" stroke="black" stroke-width="2" fill="transparent"/>
            <circle cx="37" cy="25" r="7" stroke="black" stroke-width="2" fill="transparent"/>
            <path d="M 20 25, Q 25 20, 30 25" stroke="black" stroke-width="2" fill="transparent"/>
        </svg>
        <span>Read</span>
    </button>
  </div>
</div>

<div class="tool-item">
  <button (click)="toggleReadingMode()" *ngIf="file && readingMode" class="edit-mode-btn">
    <svg width="40" height="40" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
      <path d="M17 32, 15 25, 25 9, 35 15, 25 30, 17 32, m20 20" stroke-linecap="round" stroke-linejoin="round" fill="none"></path>
      <path d="M15 24, 25 30"></path>
      <path d="M17 37 Q 20 35, 25 40 Q 30 45, 35 40"/>
    </svg>
    <span>Edit</span>
  </button>
</div>
